/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [InstitutionSID]
      ,[InstitutionIEN]
      ,[Sta3n]
      ,[InstitutionName]
      ,[VATypeCode]
      ,[StreetAddress1]
      ,[StreetAddress2]
      ,[City]
      ,[StateAbbrev]
      ,[Zip]
      ,[MedicalDistrict]
      ,[InstitutionShortName]
      ,[NationalLocal]
      ,[FacilityType]
      ,[OfficialVAName]
      ,[InstitutionCode]
      ,[Region]
      ,[MultidivisionFacilityFlag]
      ,[NPI]
      ,[ACOSHospitalID]
      ,[FacilityDEANumber]
      ,[Domain]
      ,[Agency]
      ,[InactiveFlag]
      ,[ReportingStationIEN]
      ,[ReportingStationSID]
      ,[ReportingStation]
      ,[ETLBatchID]
      ,[VistaCreateDate]
      ,[VistaEditDate]
  FROM [consults].[dbo].[TestInstitutionDIM$]
  WHERE [InstitutionSID]='490275'
  