/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ProviderTypeSID]
      ,[ProviderTypeIEN]
      ,[Sta3n]
      ,[ProviderType]
      ,[Classification]
      ,[AreaOfSpecialization]
      ,[ActiveFlag]
      ,[InactiveDate]
      ,[InactiveVistaErrorDate]
      ,[InactiveDateTransformSID]
      ,[VACode]
      ,[X12Code]
      ,[SpecialtyCode]
      ,[IndividualFlag]
  FROM [consults].[dbo].[TestProvider$]