<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AWARE_SQL_Transporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AWARE_SQL_Transporter.Properties.Settings>
            <setting name="SQLServerConnectionString" serializeAs="String">
                <value>Data Source=I20082SQL;Initial Catalog=AWARE;Integrated Security=True</value>
            </setting>
            <setting name="AccessCode" serializeAs="String">
                <value>vhaino321</value>
            </setting>
            <setting name="VerifyCode" serializeAs="String">
                <value>verify123.</value>
            </setting>
            <setting name="VistAIPAddress" serializeAs="String">
                <value>184.73.210.13:9200</value>
            </setting>
            <setting name="VistAIPAddress2" serializeAs="String">
                <value>23.21.114.197:9300</value>
            </setting>
            <setting name="VistAIPAddress3" serializeAs="String">
                <value>75.101.135.12:9300</value>
            </setting>
            <setting name="FreeDiskSpaceLimitMB" serializeAs="String">
                <value>1</value>
            </setting>
        </AWARE_SQL_Transporter.Properties.Settings>
    </applicationSettings>
</configuration>