USE [AWARE]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetVistaGroups]    Script Date: 8/28/2014 4:46:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetVistaGroups]	
	@SortAsc BIT = NULL
AS	
	SET NOCOUNT ON;
	IF @SortAsc IS NOT NULL
		IF @SortAsc = 0
			SELECT ID, NAME, AWARE_GROUP_ID, FACILITY_ID FROM AWARE_VISTA_GROUP_MAPPINGS	
		ELSE
			SELECT ID, NAME, AWARE_GROUP_ID, FACILITY_ID FROM AWARE_VISTA_GROUP_MAPPINGS ORDER BY NAME ASC	
	ELSE
		SELECT ID, NAME, AWARE_GROUP_ID, FACILITY_ID FROM AWARE_VISTA_GROUP_MAPPINGS	

GO
