USE [AWARE]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateProviders]    Script Date: 8/28/2014 4:46:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateProviders]				
AS	
    SET NOCOUNT ON;
	DECLARE @PROV TABLE (ORDERINGPROVIDER VARCHAR(50), NAME VARCHAR(50), VISTA_ID VARCHAR(50))

	INSERT @PROV (ORDERINGPROVIDER, NAME, VISTA_ID) SELECT DISTINCT(ORDERINGPROVIDER),
		CASE 
			WHEN CHARINDEX('[', ORDERINGPROVIDER) > 0 THEN 
				RTRIM(SUBSTRING(ORDERINGPROVIDER,1, CHARINDEX('[', ORDERINGPROVIDER) - 1))
			ELSE ORDERINGPROVIDER
		END,
		CASE 
			WHEN CHARINDEX('[', ORDERINGPROVIDER) > 0 THEN 
				RTRIM(SUBSTRING(ORDERINGPROVIDER,CHARINDEX('[', ORDERINGPROVIDER) + 1, (CHARINDEX(']', ORDERINGPROVIDER)-1) - charindex('[', ORDERINGPROVIDER)))
			ELSE NULL
		END	
	FROM Alerts$
	WHERE CHARINDEX('[', ORDERINGPROVIDER) > 0 
		AND RTRIM(SUBSTRING(ORDERINGPROVIDER,CHARINDEX('[', ORDERINGPROVIDER) + 1, (CHARINDEX(']', ORDERINGPROVIDER)-1) - charindex('[', ORDERINGPROVIDER))) NOT IN (SELECT DISTINCT(VISTA_ID) FROM PROVIDERS)

	INSERT PROVIDERS (NAME, VISTA_ID) SELECT NAME, VISTA_ID FROM @PROV WHERE VISTA_ID NOT IN (SELECT DISTINCT(VISTA_ID) FROM PROVIDERS)

	IF OBJECT_ID(N'tempdb..@PROV', N'U') IS NOT NULL 
	DROP TABLE #PROV;

GO
