USE [AWARE]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetReportsInfo]    Script Date: 8/28/2014 4:46:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetReportsInfo]	
	@ObjectTypeId INT,
	@SortAsc BIT = 0		
AS	
    SET NOCOUNT ON;
	if @SortAsc = 1
		SELECT ID, OBJECT_NAME, PRESENTATION_NAME FROM SECURITY_ITEMS WHERE OBJECT_TYPE_ID = @ObjectTypeId ORDER BY PRESENTATION_NAME ASC
	else
		SELECT ID, OBJECT_NAME, PRESENTATION_NAME FROM SECURITY_ITEMS WHERE OBJECT_TYPE_ID = @ObjectTypeId

GO
