USE [AWARE]
GO
/****** Object:  Table [dbo].[APPLICATION_VERSION]    Script Date: 8/28/2014 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPLICATION_VERSION](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION_NUMBER] [varchar](20) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_APPLICATION_VERSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[APPLICATION_VERSION] ADD  CONSTRAINT [DF_APPLICATION_VERSION_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[APPLICATION_VERSION] ADD  CONSTRAINT [DF_CREATE_DATE]  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
