USE [AWARE]
GO
/****** Object:  Table [dbo].[AWARE_VISTA_GROUP_MAPPINGS]    Script Date: 8/28/2014 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AWARE_VISTA_GROUP_MAPPINGS](
	[ID] [uniqueidentifier] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[AWARE_GROUP_ID] [uniqueidentifier] NULL,
	[FACILITY_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_AWARE_VISTA_GROUP_MAPPINGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AWARE_VISTA_GROUP_MAPPINGS] ADD  CONSTRAINT [DF_AWARE_VISTA_GROUP_MAPPINGS_ID]  DEFAULT (newid()) FOR [ID]
GO
