USE [AWARE]
GO
/****** Object:  Table [dbo].[SECURITY_GROUPS]    Script Date: 8/28/2014 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECURITY_GROUPS](
	[ID] [uniqueidentifier] NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_SECURITY_GROUPS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SECURITY_GROUPS] ADD  CONSTRAINT [DF_SECURITY_GROUPS_ID]  DEFAULT (newid()) FOR [ID]
GO
