USE [AWARE]
GO
/****** Object:  Table [dbo].[OrderingProviderAllServices$]    Script Date: 8/28/2014 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderingProviderAllServices$](
	[FacilityName] [varchar](50) NULL,
	[OrderingProvider] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
