USE [AWARE]
GO
/****** Object:  Table [dbo].[SECURITY_ITEMS]    Script Date: 8/28/2014 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECURITY_ITEMS](
	[ID] [uniqueidentifier] NOT NULL,
	[OBJECT_TYPE_ID] [int] NOT NULL,
	[OBJECT_NAME] [varchar](100) NOT NULL,
	[PRESENTATION_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_SECURITY_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SECURITY_ITEMS] ADD  CONSTRAINT [DF_SECURITY_ITEMS_ID]  DEFAULT (newid()) FOR [ID]
GO
