USE [AWARE]
GO
/****** Object:  Table [dbo].[SECURITY_RIGHTS]    Script Date: 8/28/2014 4:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECURITY_RIGHTS](
	[ID] [uniqueidentifier] NOT NULL,
	[OBJECT_TYPE_ID] [int] NOT NULL,
	[OBJECT_ID] [uniqueidentifier] NOT NULL,
	[ENTITY_ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SECURITY_RIGHTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SECURITY_RIGHTS] ADD  CONSTRAINT [DF_SECURITY_RIGHTS_ID]  DEFAULT (newid()) FOR [ID]
GO
