<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AWARE_SQL_Transporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="AWARE_SQL_Transporter.Properties.Settings.AwareDbConnString"
      connectionString="Data Source=I20082SQL;Initial Catalog=AWARE;Integrated Security=True" />
  </connectionStrings>

  <applicationSettings>
    <AWARE_SQL_Transporter.Properties.Settings>
      <setting name="VistAIPAddress2" serializeAs="String">
        <value>23.21.114.197:9300</value>
      </setting>
      <setting name="VistAIPAddress3" serializeAs="String">
        <value>75.101.135.12:9300</value>
      </setting>
    </AWARE_SQL_Transporter.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="ApplicationVersion" value="1.1.2" />
    <!-- Vista entry should be ip:port^AccessCode^VerifyCode-->
    <add key="VistAProperties" value="184.73.210.13:9200^vhaino321^verify123." />

    <add key="LogRpcResults" value="true" />
    <add key="LogSqlStatements" value="true" />

    <add key="FreeDiskSpaceLimitMB" value="10" />
    <add key="MaxNumberOfLogFilesToKeep" value="3" />
    <add key="MaxSizePerLogFileMB" value="1" />

    

  </appSettings>

  <!-- VHA_Moniker;VhaSiteName;-->
  <vhaSites>    
    <add key="VistAProperties" value="184.73.210.13:9200^vhaino321^verify123." />

  </vhaSites>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>