.collapsePanel
{
    width:100%;
    height:0px;
    background-color:Yellow;
    overflow:hidden;
}

.collapsePanelHeader
{
    width:100%;
    height:40px;
    color:White;
    background-color:Black;
    font-weight:bold;
    float:left;
    padding:5px;
    cursor:pointer;
    vertical-align:middle;    
}


    
body 
{
    
}

